[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
musicbrainzngs = '~=0.7'
discid = '~=1.2'
mutagen = '~=1.45'
PyYAML = '~=5.4'
click = '~=7.1'
mypy = '>=0.800'

[dev-packages]
pytest = '>=6.2'
coveralls = '>=3.0'
coverage = '>=5.4'
tox = '>=3.21'
vulture = '>=2.3'
"e1839a8" = {editable = true, path = "."}

[requires]
