[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
musicbrainzngs = '~=0.6'
discid = '~=1.1'
mutagen = '~=1.41'
PyYAML = '~=3.13'
click = '~=7.0'

[dev-packages]
pytest = '>=3.10'
coveralls = '>=1.5'
coverage = '>=4.5'
tox = '>=3.5'
vulture = '>=1.0'
pathlib2 = '>=2.3'
"e1839a8" = {editable = true, path = "."}

[requires]
